{% load static %}
<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html"
        ><img src="{% static '/img/logo.png' %}" style="height: 105px" alt=""
      /></a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/">KDM</a>
    </div>
    <ul class="sidebar-menu">
   <li class="menu-header">Dashboard</li>
        {% comment %} CATEGORY MENU {% endcomment %}
        {% url 'category-list-page' as category-list-page %}
        {% url 'category-create-page' as category-create-page %}
        {% url 'category-update-page' id as category-update-page %}
        <li class="dropdown {% if request.path == 'category-list-page' %} active {% endif %}{% if request.path == 'category-create-page' %} active {% endif %}{% if request.path == 'category-update-page' %} active {% endif %}">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Category</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == "category-list-page" %}active{% endif %} {% if request.path == "category-update-page" %} active {% endif %}'><a class="nav-link" href="{% url 'category-list-page' %}">All Categories</a></li>
            <li class='{% if request.path == "category-create-page" %}active{% endif %}'><a class="nav-link" href="{% url 'category-create-page' %}">Add Categories</a></li>
          </ul>
        </li>
    </ul>

    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a
        href="{% url 'admin-logout-process'%}"
        class="btn btn-primary btn-lg btn-block btn-icon-split"
      >
        <i class="fas fa-rocket"></i> LogOut
      </a>
    </div>
  </aside>
</div>
